.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:25px; 
	background-color:gray; 
	position: absolute;
	top: 15px;
	left: 100px;
	color: black;
}
body{
	
		overflow-x: hidden;
		overflow-y: hidden; 
}

.logo
{
	position: relative;
	top: 15px;
	left: 250px;
}

.logo img
{
    width: 30%;
	height: auto;
}

.image img
{
	width: 250px;
}

.title{
	position:absolute;
	top: 30px;
	left: 800px;
	font-size: large;
}

.image{
	float: left;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 100px;
}

.main{
	margin-top: 40px;
	font-size:large;
	margin-left: 100px ;
	margin-right: 100px;
	text-align:justify;
	
 }

 .content {
	width: 80%;
	margin: 0 auto;
 }

 .head{
    margin-bottom: 110px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
